* {
    margin: 0;
    padding: 0;
}

.baseForm {
    margin-left:2% !important;
    margin-right:2% !important;
    padding: 25px 15px 25px 10px !important;
    font: 12px Georgia, "Times New Roman", Times, serif !important;
    background: #575757 !important;
    color: #ffffff !important;
    border: 2px solid #000000 !important;
}

.loginForm {
    padding: 25px 15px 25px 10px !important;
    font: 12px Georgia, "Times New Roman", Times, serif !important;
    background: #575757 !important;
    color: #ffffff !important;
}

.output {
    color: #ffffff !important;
}

.basePanel {
    margin-left: 2% !important;
    margin-right: 2% !important;
    color: #ffffff !important;
}

.guestPanel {
    margin-left: 2% !important;
    margin-right: 2% !important;
    color: #ffffff !important;
}

.guestmsgPanel {
    color: #ffffff !important;
}

.guestcommentPanel {
    margin-left: 2% !important;
    margin-right: 2% !important;
    color: #ffffff !important;
    font: 16px Georgia, "Times New Roman", Times, serif !important;
}

.loginPanel {
    margin-left: 2% !important;
    margin-right: 2% !important;
    color: #ffffff !important;
    border: 2px solid #000000 !important;
}

.baseButton {
    font-size: 16px !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.firstColumn {
    width: 15% !important;
}

.secondColumn {
    width: 25% !important;
}

.thirdColumn {
    width: 60% !important;
}

.firstHomeColumn {
    width: 33% !important;
}

.secondHomeColumn {
    width: 33% !important;
}

.thirdHomeColumn {
    width: 33% !important;
}

.firstHomeMidColumn {
    width: 30% !important;
}

.secondHomeMidColumn {
    width: 70% !important;
}

.firstGuestColumn{
     width: 18% !important;
     text-align: center !important;
     vertical-align: middle !important;
 }

.secondGuestColumn{
    width: 82% !important;
    margin-right: 5% !important;
}

.firstGuestmsgColumn{
    color: white !important;
    background: #373737 !important;
}

.secondGuestmsgColumn{
    color: white !important;
    text-align: right !important;
    background: #373737 !important;
}

.hide-column-names table thead tr {
    display: none;
}

.morph {
    height: 20% !important;
    width: 20% !important;
    background: transparent !important;
    border: 2px solid #000000 !important;
    margin-left: 10% !important;
    margin-bottom: 48px !important;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.morph:hover {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.guestTable{
    font: 22px Georgia, "Times New Roman", Times, serif !important;
}
.guestForm {
    margin-left:2% !important;
    margin-right:2% !important;
    font: 12px Georgia, "Times New Roman", Times, serif !important;
    background: #575757 !important;
    color: #ffffff !important;
    border: 2px solid #000000 !important;
}

.baseLink {
    font: 24px Georgia, "Times New Roman", Times, serif !important;
    float: left !important;
    color: #ffffff !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.baseLink:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: #28A8E4;
    height: 4px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.baseLink:hover:before, .baseLink:focus:before, .baseLink:active:before {
    left: 0;
}

.baseLink:hover, .baseLink:focus, .baseLink:active, .baseLink:link, .baseLink:visited {
    background: transparent !important;
}

.baseLink:hover, .baseLink:focus {
    color: #28A8E4 !important;
    background: transparent !important;
}
