html {
    height: 100%;
}

header {
    margin: auto;
}

@-webkit-keyframes menuitem {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@keyframes menuitem {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@-webkit-keyframes menuitem-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@keyframes menuitem-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
.menuitem {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.menuitem:hover, .menuitem:focus, .menuitem:active, .menuitem:link, .menuitem:visited {
    color: black !important;
    background: transparent !important;
}

.menuitem:hover, .menuitem:focus, .menuitem:active {
    -webkit-animation-name: menuitem-float, menuitem;
    animation-name: menuitem-float, menuitem;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

body {
    background-color: #eff3f6;
    position: relative;
    min-height: 100%;
    padding-bottom: 52px;
}

h6.welcome-text {
    font-size: 2.0em;
}

footer {
    max-height: 52px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 16px 0;
    text-align: right;
}

footer span {
    margin-right: 20px;
}
