html {
    height: 100%;
}

header {
    margin: 0 !important;
    padding: 0 !important;
    height: 40px !important;
    width: 100% !important;
    background: #575757 !important;
}

#navigation {
    width: 100% !important;
    padding-bottom: 20px !important;
    z-index: 1000;
}

.menubar {
    border: none !important;
    border-bottom: 2px solid #28A8E4 !important;
}

.menuitem {
    margin-right: 16px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.menuitem:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: #28A8E4;
    height: 4px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.menuitem:hover:before, .menuitem:focus:before, .menuitem:active:before {
    left: 0;
}

.menuitem:hover, .menuitem:focus, .menuitem:active, .menuitem:link, .menuitem:visited {
    background: transparent !important;
}

.menuitem:hover, .menuitem:focus {
    color: #28A8E4 !important;
    background: transparent !important;
}

.menubutton:hover, .menubutton:focus {
    color: #28A8E4 !important;
    background: #2e2e2e !important;
}

.menulink {
    float: right;
    color: #ffffff !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.menulink:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: #28A8E4;
    height: 4px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.menulink:hover:before, .menulink:focus:before, .menulink:active:before {
    left: 0;
}

.menulink:hover, .menulink:focus, .menulink:active, .menulink:link, .menulink:visited {
    background: transparent !important;
}

.menulink:hover, .menulink:focus {
    color: #28A8E4 !important;
    background: transparent !important;
}


body {
    background-image: url("/restaurant/resources/images/bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    min-height: 100%;
    padding-bottom: 52px;
}

h6.welcome-text {
    font-size: 2.0em;
    color: #ffffff !important;
    background: transparent !important;
}

footer {
    max-height: 52px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 16px 0;
    text-align: right;
}

footer span {
    margin-right: 20px;
}
